//Resetting user agent style

button {
  border: none;
}

html,
body,
input,
button,
form,
p,
textarea {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

//Mobile version @320
@media (min-width: 320px) {
  .shadow {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .createnew {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    padding: 5vw;
    overflow:hidden; 
    overflow-y:scroll;
    

    .createnew__title {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    .createnew__form {
      width: 100%;
      display: flex;
      flex-direction: column;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;

        label {
          margin-bottom: 8px;
        }
        input,
        textarea,
        #country,
        #location {
          margin-bottom: 24px;
          height: 48px;
          background-color: #fafafa;
          border-radius: 4px;
          border: 1px solid #e1e1e1;
          width: 100%;
          &::placeholder {
            padding-left: 16px;
            font-size: 12px;

            select #country &::after {
              content: "<>";
            }
          }
          #description {
            height: 80px;
          }
        }
        #status {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          align-items: center;
          p {
            margin-right: 16px;
            width: 100%;
          }
        }

        button {
          width: 100%;
          border-radius: 4px;
          height: 48px;
          font-weight: bold;
          text-transform: uppercase;
        }
        #Save {
          background-color: #004892;
          color: white;
        }

        #Cancel {
          background-color: white;
          color: #004892;
        }
      }
    }
  }
  .AddButton {
    position: fixed;
    z-index: 1;
    right: 7vw;
    bottom: 7vw;
    background-color: #004892;
    width: 60px;
    height: 60px;
    border-radius: 70%;
  }
}

@media (min-width: 600px) {
  .shadow {
    box-sizing: border-box;
    padding: 10vw;
    justify-content: center;
  }

  .createnew {
    width: 100%;
    max-height: 596px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    .createnew__form {
      form {
        .row {
          display: flex;
          flex-direction: row;
          .column {
            display: flex;
            flex-direction: column;
            margin-right: 12px;
            margin-right: 40px;
          }
        }
        .column {
          display: flex;
          flex-direction: column;
          margin-right: 12px;
        }

        input,
        #country,
        #location {
          margin-bottom: 24px;
          height: 48px;
          background-color: #fafafa;
          border-radius: 4px;
          width: 29vw;
        }
        #description {
          height: 80px;
          width: 62.5vw;
        }
        #status {
          text-align: left;
          margin-bottom: 24px;
          width: 29vw;
        }

        #product,
        #city,
        #quantity {
          margin-right: 24px;
        }

        .form__buttons {
          display: flex;
          flex-direction: row-reverse;
        }
        button {
          width: 160px;
          border-radius: 4px;
          height: 48px;
          font-weight: bold;
          text-transform: uppercase;
        }
        #Save {
          background-color: #004892;
          color: white;
        }

        #Cancel {
          background-color: white;
          color: #004892;
        }
      }
    }
  }

  .AddButton {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1440px) {
  .shadow {
    padding: 0px;
    align-items: center;
  }

  .createnew {
    padding: 48px;
    width: 576px;
    height: 624px;
    display: flex;
    flex-direction: column;
    overflow: visible;

    .createnew__title {
      margin-top: 8px;
    }

    .createnew__form {
      width: 576px;
      form {
        .row {
          .column {
            margin-right: 40px;
          }

          input,
          #country,
          #location {

            width: auto;
          }

          #status {
            width: 200px;
          }
        }

        #description {
          height: 80px;
          width: 480px;
          margin-bottom: 40px;
        }
        #status {
          text-align: left;
          margin-bottom: 24px;
        }

        #product,
        #city,
        #quantity {
          margin-right: 40px;
        }

        #Cancel {
          background-color: white;
          color: #004892;
          margin-right: 48px;
        }

        .form__buttons {
          display: flex;
          flex-direction: row-reverse;
          margin-bottom: 40px;
          width: 100%;
        }
        button {
          width: 160px;
          height: 48px;
          border-radius: 4px;
          height: 48px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
