//Resetting user agent style

button {
  border: none;
}

html,
body,
input,
button,
form,
p {
  padding: 0px;
  margin: 0px;
}

//Mobile version @320

@media (min-width: 320px) {
  .createnew {
    width: 69vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;

    .createnew__title {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    .createnew__form {
      width: 100%;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;

        label {
          margin-bottom: 8px;
        }
        input,
        #country {
          margin-bottom: 24px;
          height: 48px;
          background-color: #fafafa;
          border-radius: 4px;
          width: 100%;
          &::placeholder {
            padding-left: 16px;
            font-size: 12px;

            select #country &::after {
              content: "<>";
              color: red;
            }
          }
          #description {
            height: 80px;
          }
        }
        #status {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          align-items: center;
          p {
            margin-right: 16px;
            width: 100%;
          }
        }

        button {
          width: 100%;
          border-radius: 4px;
          height: 48px;
          font-weight: bold;
          text-transform: uppercase;
        }
        #Save {
          background-color: #004892;
          color: white;
        }

        #Cancel {
          background-color: white;
          color: #004892;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .createnew {
    width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;

    .createnew__form {
      form {
        .row {
          display: flex;
          flex-direction: row;
          .column {
            display: flex;
            flex-direction: column;
            margin-right: 12px;
          }
        }

        input,
        #country {
          margin-bottom: 24px;
          height: 48px;
          background-color: #fafafa;
          border-radius: 4px;
          width: 29vw;
        }
        #description {
          height: 80px;
          width: 62.5vw;
        }
        #status {
          text-align: left;
          margin-bottom: 24px;
          width: 29vw;
        }

        #product,
        #city,
        #quantity {
          margin-right: 24px;
        }

        .form__buttons {
          display: flex;
          flex-direction: row-reverse;
        }
        button {
          width: 20%;
          border-radius: 4px;
          height: 48px;
          font-weight: bold;
          text-transform: uppercase;
        }
        #Save {
          background-color: #004892;
          color: white;
        }

        #Cancel {
          background-color: white;
          color: #004892;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .createnew {
    width: 576px;
    height: 624px;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;

    .createnew__form {
      width: 576px;
      form {
        .row {
          .column {
            margin-right: 40px;
          }
        }

        #description {
          height: 80px;
          width: 480px;
          margin-bottom: 40px;
        }
        #status {
          text-align: left;
          margin-bottom: 24px;
        }

        #product,
        #city,
        #quantity {
          margin-right: 40px;
        }

        #Cancel {
          background-color: white;
          color: #004892;
          margin-right: 48px;
        }

        .form__buttons {
          display: flex;
          flex-direction: row-reverse;
          margin-bottom: 40px;
          width: 100%;
        }
        button {
          width: 160px;
          height: 48px;
          border-radius: 4px;
          height: 48px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
