.header {
  margin: 0px 16px 16px 16px;
  display: flex;
  flex-direction: column;

  &__logo {
    margin: 12px auto;
    width: 19vh;
  }

  &__search {
    min-height: 48px;
    margin-top: 8px;
    width: 100%;
    border-radius: 4px;
    background: #fafafa url("../assets/icons/SVG/Icon-search.svg");
    background-repeat: no-repeat;
    background-position: 16px 50%;
    text-indent: 43px;
    font-size: 1.1em;
    font-family: Regular;
    color: #323232;
    border: 1px solid #e1e1e1;
  }
}
