button {
  border: none;
}

html,
body,
input,
button,
form,
p {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 320px) {
  .createnew {
    width: 69vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__title {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .createnew .createnew__form {
    width: 100%;
  }
  .createnew .createnew__form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form form label {
    margin-bottom: 8px;
  }
  .createnew .createnew__form form input,
  .createnew .createnew__form form #country {
    margin-bottom: 24px;
    height: 48px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 100%;
  }
  .createnew .createnew__form form input::-webkit-input-placeholder,
  .createnew .createnew__form form #country::-webkit-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input:-ms-input-placeholder,
  .createnew .createnew__form form #country:-ms-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input::-ms-input-placeholder,
  .createnew .createnew__form form #country::-ms-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input::placeholder,
  .createnew .createnew__form form #country::placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  select #country .createnew .createnew__form form input::-webkit-input-placeholder::after, select #country
  .createnew .createnew__form form #country::-webkit-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input:-ms-input-placeholder::after, select #country
  .createnew .createnew__form form #country:-ms-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input::-ms-input-placeholder::after, select #country
  .createnew .createnew__form form #country::-ms-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input::placeholder::after, select #country
  .createnew .createnew__form form #country::placeholder::after {
    content: "<>";
  }
  .createnew .createnew__form form input #description,
  .createnew .createnew__form form #country #description {
    height: 80px;
  }
  .createnew .createnew__form form #status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .createnew .createnew__form form #status p {
    margin-right: 16px;
    width: 100%;
  }
  .createnew .createnew__form form button {
    width: 100%;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .createnew .createnew__form form #Save {
    background-color: #004892;
    color: white;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
  }
  .AddButton {
    float: right;
    background-color: #004892;
    width: 60px;
    height: 60px;
    border-radius: 70%;
  }
}

@media (min-width: 768px) {
  .createnew {
    width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .createnew .createnew__form form .row .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 12px;
  }
  .createnew .createnew__form form input,
  .createnew .createnew__form form #country {
    margin-bottom: 24px;
    height: 48px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 29vw;
  }
  .createnew .createnew__form form #description {
    height: 80px;
    width: 62.5vw;
  }
  .createnew .createnew__form form #status {
    text-align: left;
    margin-bottom: 24px;
    width: 29vw;
  }
  .createnew .createnew__form form #product,
  .createnew .createnew__form form #city,
  .createnew .createnew__form form #quantity {
    margin-right: 24px;
  }
  .createnew .createnew__form form .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .createnew .createnew__form form button {
    width: 20%;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .createnew .createnew__form form #Save {
    background-color: #004892;
    color: white;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
  }
}

@media (min-width: 1440px) {
  .createnew {
    width: 576px;
    height: 624px;
    margin-left: 48px;
    margin-right: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form {
    width: 576px;
  }
  .createnew .createnew__form form .row .column {
    margin-right: 40px;
  }
  .createnew .createnew__form form #description {
    height: 80px;
    width: 480px;
    margin-bottom: 40px;
  }
  .createnew .createnew__form form #status {
    text-align: left;
    margin-bottom: 24px;
  }
  .createnew .createnew__form form #product,
  .createnew .createnew__form form #city,
  .createnew .createnew__form form #quantity {
    margin-right: 40px;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
    margin-right: 48px;
  }
  .createnew .createnew__form form .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 40px;
    width: 100%;
  }
  .createnew .createnew__form form button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url(../assets/fonts/AvenirNextRegular.otf);
}

@font-face {
  font-family: "AvenirNextDemiBold";
  src: url(../assets/fonts/AvenirNextDemi.otf);
}

@font-face {
  font-family: "AvenirNextBold";
  src: url(../assets/fonts/AvenirNextBold.otf);
}

body {
  font-family: AvenirNextRegular;
}

h1 {
  font-size: 7.5vw;
  line-height: 10vw;
  font-family: AvenirNextBold;
  margin: 0px;
  color: #323232;
}

h2, h3 {
  font-size: 4.4vw;
  line-height: 6.9vw;
  font-family: AvenirNextDemiBold;
  margin: 0px;
  color: #323232;
}

h4 {
  font-size: 4.1vw;
  line-height: 5.6vw;
  margin: 0px;
  color: #323232;
  font-weight: 500;
}

h5, .inventory th, .inventory__mobile--label {
  color: #afafaf;
  font-size: 3.8vw;
  line-height: 6.2vw;
  margin: 0px;
  font-weight: bold;
}

label {
  color: #afafaf;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.divider {
  height: 1px;
  background-color: #e1e1e1;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4.7vw;
    line-height: 5.7vw;
    font-family: AvenirNextBold;
  }
  h2, h3 {
    font-size: 3vw;
    line-height: 4.2vw;
  }
  h3 {
    font-size: 2.1vw;
    line-height: 3vw;
  }
  h4 {
    font-size: 1.8vw;
    line-height: 2.9vw;
  }
  h5, .inventory th, .inventory__mobile--label {
    font-size: 1.55vw;
    line-height: 2.85vw;
  }
}

@media (min-width: 1440px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
  h1 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirNextBold;
  }
  h2, h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
  h5, .inventory th, .inventory__mobile--label {
    font-size: 12px;
    line-height: 20px;
  }
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url(../assets/fonts/AvenirNextRegular.otf);
}

@font-face {
  font-family: "AvenirNextDemiBold";
  src: url(../assets/fonts/AvenirNextDemi.otf);
}

@font-face {
  font-family: "AvenirNextBold";
  src: url(../assets/fonts/AvenirNextBold.otf);
}

body {
  font-family: AvenirNextRegular;
}

h1 {
  font-size: 7.5vw;
  line-height: 10vw;
  font-family: AvenirNextBold;
  margin: 0px;
  color: #323232;
}

h2, h3 {
  font-size: 4.4vw;
  line-height: 6vw;
  font-family: AvenirNextDemiBold;
  margin: 0px;
  color: #323232;
}

h4 {
  font-size: 4.1vw;
  line-height: 5.6vw;
  margin: 0px;
  color: #323232;
  font-weight: 500;
}

h5, .inventory th, .inventory__mobile--label {
  color: #afafaf;
  font-size: 3.8vw;
  line-height: 4.2vw;
  margin: 0px;
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #e1e1e1;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4.7vw;
    line-height: 5.7vw;
    font-family: AvenirNextBold;
  }
  h2, h3 {
    font-size: 3vw;
    line-height: 4.2vw;
  }
  h3 {
    font-size: 2.1vw;
    line-height: 3vw;
  }
  h4 {
    font-size: 1.8vw;
    line-height: 2.9vw;
  }
  h5, .inventory th, .inventory__mobile--label {
    font-size: 1.55vw;
    line-height: 2.85vw;
  }
}

@media (min-width: 1440px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
  h1 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirNextBold;
  }
  h2, h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
  h5, .inventory th, .inventory__mobile--label {
    font-size: 12px;
    line-height: 20px;
  }
}

td {
  display: block;
}

button {
  background-color: transparent;
  border: none;
}

.inventory {
  padding: 5vw;
}

.inventory th {
  display: none;
  text-align: left;
}

.inventory td h3 {
  margin-bottom: 4vw;
}

.inventory td h4 {
  margin-bottom: 3vw;
}

.inventory .divider {
  height: 1px;
  padding: 0px;
  margin-bottom: 7.5vw;
}

.inventory__mobile--kebab {
  position: relative;
  float: right;
}

.inventory__mobile--kebab:visited img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.inventory__mobile--kebab img {
  width: 1.5vw;
}

.inventory__kebab {
  display: none;
}

.inventory__mobile--label {
  font-size: 3.8vw;
  margin-bottom: 5vw;
}

.inventory__remove {
  position: absolute;
  z-index: 1;
  background-color: white;
  text-align: left;
  border: solid 1px #e1e1e1;
  border-radius: 4px;
  top: 11vw;
  right: 0px;
  width: 49vw;
  padding: 4vw;
  -webkit-box-shadow: 0px 10vw 9vw #eeeeee;
          box-shadow: 0px 10vw 9vw #eeeeee;
  font-family: AvenirNextRegular;
}

@media (min-width: 600px) {
  td {
    display: table-cell;
    height: 13vw;
  }
  .inventory {
    padding: 3vw;
  }
  .inventory th {
    display: table-cell;
  }
  .inventory td h3 {
    margin-bottom: 0px;
  }
  .inventory td h4 {
    margin-bottom: 0px;
    display: inline-block;
  }
  .inventory__mobile--label {
    display: none;
  }
  .inventory__mobile--kebab {
    display: none;
  }
  .inventory__kebab {
    display: inherit;
    float: right;
    position: relative;
    margin-right: 1.8vw;
  }
  .inventory__kebab:active img {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
  }
  .inventory__kebab img {
    width: 0.6vw;
  }
  .inventory__item {
    width: 32vw;
  }
  .inventory__item h4 {
    width: 27vw;
  }
  .inventory__date {
    width: 16vw;
  }
  .inventory__location {
    width: 16vw;
  }
  .inventory__quantity {
    width: 13vw;
  }
  .inventory__status {
    width: 16vw;
  }
  .inventory__remove {
    top: 4.5vw;
    width: 19vw;
    padding: 1.7vw;
    right: -1.5vw;
    -webkit-box-shadow: 0px 4vw 3vw #eeeeee;
            box-shadow: 0px 4vw 3vw #eeeeee;
  }
}

@media (min-width: 1440px) {
  table {
    width: 1080px;
  }
  td {
    height: 80px;
  }
  .inventory {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inventory__kebab img {
    width: 4px;
  }
  .inventory__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 368px;
  }
  .inventory__item h4 {
    width: 305px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .inventory__date {
    width: 184px;
  }
  .inventory__location {
    width: 184px;
  }
  .inventory__quantity {
    width: 184px;
  }
  .inventory__status {
    width: 161px;
  }
  .inventory__remove {
    top: 30px;
    width: 161px;
    padding: 15px;
    right: -30px;
    -webkit-box-shadow: 0px 20px 40px #eeeeee;
            box-shadow: 0px 20px 40px #eeeeee;
  }
}

.header {
  margin: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header h1 {
  margin: 0px 0px 16px 0px;
}

.header__search {
  min-height: 48px;
  width: 100%;
  border-radius: 4px;
  background: #fafafa url("../assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  text-indent: 43px;
  font-size: 1.1em;
  font-family: Regular;
  color: #323232;
  border: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 48px 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header h1 {
    margin: 0px;
  }
  .header__search {
    width: 249px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin: 40px 180px;
  }
  .header h1 {
    margin-top: 8px;
  }
  .header__search {
    width: 252px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323232;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__logo {
  text-align: center;
  width: 100%;
  padding-top: 12px;
}

.nav__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu--inventory, .nav__menu--location {
  padding: 0.5rem;
  font-size: 4.5vw;
  width: 50%;
  text-align: center;
  color: white;
  text-decoration: none;
  text-align: center;
}

.nav__menu--inventory:hover, .nav__menu--location:hover {
  border-bottom: solid #ffffff;
  font-family: myDemi;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 68px;
  }
  .nav__logo {
    margin-left: 24px;
    padding: 0px;
    width: 0%;
  }
  .nav__menu {
    margin-left: 180px;
    display: unset;
  }
  .nav__menu--inventory, .nav__menu--location {
    font-size: 1.1em;
    padding: 0px 8px 20px 8px;
  }
  .nav__menu--location {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    height: 80px;
  }
  .nav__logo {
    margin-left: 180px;
  }
  .nav__logo img {
    height: 23px;
  }
  .nav__menu--inventory, .nav__menu--location {
    padding: 0px 8px 23px 8px;
    font-size: 1.4em;
    margin-left: 100px;
  }
}

button {
  border: none;
}

html,
body,
input,
button,
form,
p {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 320px) {
  .createnew {
    width: 69vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__title {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .createnew .createnew__form {
    width: 100%;
  }
  .createnew .createnew__form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form form label {
    margin-bottom: 8px;
  }
  .createnew .createnew__form form input,
  .createnew .createnew__form form #country {
    margin-bottom: 24px;
    height: 48px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 100%;
  }
  .createnew .createnew__form form input::-webkit-input-placeholder,
  .createnew .createnew__form form #country::-webkit-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input:-ms-input-placeholder,
  .createnew .createnew__form form #country:-ms-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input::-ms-input-placeholder,
  .createnew .createnew__form form #country::-ms-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input::placeholder,
  .createnew .createnew__form form #country::placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  select #country .createnew .createnew__form form input::-webkit-input-placeholder::after, select #country
  .createnew .createnew__form form #country::-webkit-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input:-ms-input-placeholder::after, select #country
  .createnew .createnew__form form #country:-ms-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input::-ms-input-placeholder::after, select #country
  .createnew .createnew__form form #country::-ms-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input::placeholder::after, select #country
  .createnew .createnew__form form #country::placeholder::after {
    content: "<>";
  }
  .createnew .createnew__form form input #description,
  .createnew .createnew__form form #country #description {
    height: 80px;
  }
  .createnew .createnew__form form #status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .createnew .createnew__form form #status p {
    margin-right: 16px;
    width: 100%;
  }
  .createnew .createnew__form form button {
    width: 100%;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .createnew .createnew__form form #Save {
    background-color: #004892;
    color: white;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
  }
  .AddButton {
    float: right;
    background-color: #004892;
    width: 60px;
    height: 60px;
    border-radius: 70%;
  }
}

@media (min-width: 768px) {
  .createnew {
    width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .createnew .createnew__form form .row .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 12px;
  }
  .createnew .createnew__form form input,
  .createnew .createnew__form form #country {
    margin-bottom: 24px;
    height: 48px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 29vw;
  }
  .createnew .createnew__form form #description {
    height: 80px;
    width: 62.5vw;
  }
  .createnew .createnew__form form #status {
    text-align: left;
    margin-bottom: 24px;
    width: 29vw;
  }
  .createnew .createnew__form form #product,
  .createnew .createnew__form form #city,
  .createnew .createnew__form form #quantity {
    margin-right: 24px;
  }
  .createnew .createnew__form form .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .createnew .createnew__form form button {
    width: 20%;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .createnew .createnew__form form #Save {
    background-color: #004892;
    color: white;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
  }
}

@media (min-width: 1440px) {
  .createnew {
    width: 576px;
    height: 624px;
    margin-left: 48px;
    margin-right: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form {
    width: 576px;
  }
  .createnew .createnew__form form .row .column {
    margin-right: 40px;
  }
  .createnew .createnew__form form #description {
    height: 80px;
    width: 480px;
    margin-bottom: 40px;
  }
  .createnew .createnew__form form #status {
    text-align: left;
    margin-bottom: 24px;
  }
  .createnew .createnew__form form #product,
  .createnew .createnew__form form #city,
  .createnew .createnew__form form #quantity {
    margin-right: 40px;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
    margin-right: 48px;
  }
  .createnew .createnew__form form .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 40px;
    width: 100%;
  }
  .createnew .createnew__form form button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.product {
  padding: 5vw;
}

.product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product__header img {
  width: 4.3vw;
  display: inline-block;
  margin-right: 5vw;
}

.product__header h1 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5vw;
}

.product .divider {
  display: none;
}

.product__inStock {
  font-size: 3.8vw;
  font-family: AvenirNextDemiBold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: white;
  background-color: #6BB01A;
  padding: 1.7vw;
  width: 30vw;
  text-align: center;
  margin-bottom: 10vw;
}

.product__outStock {
  font-size: 3.8vw;
  font-family: AvenirNextDemiBold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #323232;
  background-color: #e1e1e1;
  padding: 1.7vw;
  width: 30vw;
  text-align: center;
  margin-bottom: 10vw;
}

.product h5, .product .inventory th, .inventory .product th, .product .inventory__mobile--label {
  margin-bottom: 5vw;
}

.product h4 {
  margin-bottom: 7.5vw;
}

.product__description {
  margin-bottom: 10vw;
}

.product button {
  background-color: #004892;
  color: white;
  font-family: AvenirNextDemiBold;
  border-radius: 4px;
  width: 100%;
  height: 15vw;
  font-size: 3.8vw;
}

.location {
  margin: 32px 16px;
}

.location__table {
  width: 100%;
}

.location__table .location__table-row1 .location-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.location__table .location__table-row1 .location-content .rightArrowImg {
  margin-left: auto;
}

@media (min-width: 600px) {
  .location {
    margin: 32px 24px;
  }
  .location__table {
    width: 100%;
  }
  .location__table .location__table-row1 .location-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__table .location__table-row1 .location-content .rightArrowImg {
    margin-left: auto;
  }
  .location__table .location__table-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

button {
  border: none;
}

html,
body,
input,
button,
form,
p {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 320px) {
  .createnew {
    width: 69vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__title {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .createnew .createnew__form {
    width: 100%;
  }
  .createnew .createnew__form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form form label {
    margin-bottom: 8px;
  }
  .createnew .createnew__form form input,
  .createnew .createnew__form form #country {
    margin-bottom: 24px;
    height: 48px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 100%;
  }
  .createnew .createnew__form form input::-webkit-input-placeholder,
  .createnew .createnew__form form #country::-webkit-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input:-ms-input-placeholder,
  .createnew .createnew__form form #country:-ms-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input::-ms-input-placeholder,
  .createnew .createnew__form form #country::-ms-input-placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .createnew .createnew__form form input::placeholder,
  .createnew .createnew__form form #country::placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  select #country .createnew .createnew__form form input::-webkit-input-placeholder::after, select #country
  .createnew .createnew__form form #country::-webkit-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input:-ms-input-placeholder::after, select #country
  .createnew .createnew__form form #country:-ms-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input::-ms-input-placeholder::after, select #country
  .createnew .createnew__form form #country::-ms-input-placeholder::after {
    content: "<>";
  }
  select #country .createnew .createnew__form form input::placeholder::after, select #country
  .createnew .createnew__form form #country::placeholder::after {
    content: "<>";
  }
  .createnew .createnew__form form input #description,
  .createnew .createnew__form form #country #description {
    height: 80px;
  }
  .createnew .createnew__form form #status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .createnew .createnew__form form #status p {
    margin-right: 16px;
    width: 100%;
  }
  .createnew .createnew__form form button {
    width: 100%;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .createnew .createnew__form form #Save {
    background-color: #004892;
    color: white;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
  }
  .AddButton {
    float: right;
    background-color: #004892;
    width: 60px;
    height: 60px;
    border-radius: 70%;
  }
}

@media (min-width: 768px) {
  .createnew {
    width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .createnew .createnew__form form .row .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 12px;
  }
  .createnew .createnew__form form input,
  .createnew .createnew__form form #country {
    margin-bottom: 24px;
    height: 48px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 29vw;
  }
  .createnew .createnew__form form #description {
    height: 80px;
    width: 62.5vw;
  }
  .createnew .createnew__form form #status {
    text-align: left;
    margin-bottom: 24px;
    width: 29vw;
  }
  .createnew .createnew__form form #product,
  .createnew .createnew__form form #city,
  .createnew .createnew__form form #quantity {
    margin-right: 24px;
  }
  .createnew .createnew__form form .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .createnew .createnew__form form button {
    width: 20%;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .createnew .createnew__form form #Save {
    background-color: #004892;
    color: white;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
  }
}

@media (min-width: 1440px) {
  .createnew {
    width: 576px;
    height: 624px;
    margin-left: 48px;
    margin-right: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createnew .createnew__form {
    width: 576px;
  }
  .createnew .createnew__form form .row .column {
    margin-right: 40px;
  }
  .createnew .createnew__form form #description {
    height: 80px;
    width: 480px;
    margin-bottom: 40px;
  }
  .createnew .createnew__form form #status {
    text-align: left;
    margin-bottom: 24px;
  }
  .createnew .createnew__form form #product,
  .createnew .createnew__form form #city,
  .createnew .createnew__form form #quantity {
    margin-right: 40px;
  }
  .createnew .createnew__form form #Cancel {
    background-color: white;
    color: #004892;
    margin-right: 48px;
  }
  .createnew .createnew__form form .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 40px;
    width: 100%;
  }
  .createnew .createnew__form form button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.warehouseName {
  margin: 0px 16px;
}

.warehouseName p {
  color: #323232;
  margin: 0px;
  font-size: 13px;
}

.warehouseName #space {
  margin-top: 24px;
}

.warehouseName h3 {
  color: #afafaf;
  margin: 24px 0px 12px 0px;
}

.warehouseName__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 24px 0px;
}

.warehouseName__title img {
  padding-top: 4px;
  height: 24px;
}

.warehouseName__title h1 {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .warehouseName {
    margin: 0px 24px;
  }
  .warehouseName p {
    font-size: 12px;
  }
  .warehouseName__title {
    padding: 32px 0px;
    border-bottom: 1px solid #e1e1e1;
  }
  .warehouseName__title img {
    padding-top: 10px;
  }
  .warehouseName__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 28vw;
  }
}

@media screen and (min-width: 1440px) {
  .warehouseName {
    margin: 0px 180px;
  }
}
/*# sourceMappingURL=styles.css.map */