.inventory__remove--hidden {
    display: none;
}


td {
    display: block;
}

button {
    background-color: transparent;
    border: none;
}

.inventory {
    padding: 0px 5vw;

    th {
        @extend h5;
        display: none;
        text-align: left;
    }
    
    

    td {
        h3 {
            margin-bottom: 4vw;
        }
        h4 {
            margin-bottom: 3vw;
        }
    }

    .divider {
        height: 1px;
        padding: 0px;
        margin-bottom: 7.5vw;
    }

    &__mobile--kebab {
        position: relative;
        &:visited {
            img {
                filter: brightness(0.5);
            }
        }

        float: right;
        img {
            width: 1.5vw;  
        }
    }

    &__kebab {
        display: none;
    }

    &__mobile--label {
        @extend h5;
        font-size: 3.8vw;
        margin-bottom: 5vw;
    }

    &__remove {
        position: absolute;
        z-index: 1;
        background-color: white;
        text-align: left;
        border: solid 1px $Mercury;
        border-radius: 4px;
        top: 11vw;
        right: 0px;
        width: 49vw;
        padding: 4vw;
        box-shadow: 0px 10vw 9vw #eeeeee;
        font-family: AvenirNextRegular;
    }
}

@media (min-width: 600px) {

    td {
        display: table-cell;
        height: 13vw;
    }

    .inventory {
        padding: 0px 3vw;

        th {   
            display: table-cell;
        }

        td {  

            h3 {
                margin-bottom: 0px;
            }

            h4 {
                margin-bottom: 0px;
                display: inline-block;
            }
        }

        &__mobile--label {
            display: none;
        }

        &__mobile--kebab {
            display: none;
        }

        &__kebab {
            display: inherit;
            float: right;
            position: relative;
            margin-right: 1.8vw;
            &:active {
                img {
                    filter: brightness(0.5);
                }
            }

            img {
                width: 0.6vw
            }
        }

        &__item {
            width: 32vw;
            h4 {
                width: 27vw;

            }
        }

        &__date {
            width: 16vw;
        }

        &__location {
            width: 16vw;
        }

        &__quantity {
            width: 13vw;
        }

        &__status {
            width: 16vw;
            h4 {
                width: 10vw;
            }
        }

        &__remove {
            top: 4.5vw;
            width: 19vw;
            padding: 1.7vw;
            right: -1.5vw;
            box-shadow: 0px 4vw 3vw #eeeeee;
        }
    }
}

@media (min-width: 1440px) {

    table {
        width: 1080px
    }

    td {
        height: 80px;
    }

    .inventory {
        padding: 0px;
        display: flex;
        justify-content: center;
        
        th {   

        }

        td {  

            h3 {

            }

            h4 {

            }
        }

        &__kebab {

            margin-right: 30px;
            img {
                width: 4px
            }
        }

        &__item {
            box-sizing: border-box;
            width: 368px;
            h4 {
                width: 305px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__date {
            width: 184px;
        }

        &__location {
            width: 184px;
        }

        &__quantity {
            width: 184px;
        }

        &__status {
            width: 161px;
            h4 {
                width: auto;
            }
            
        }

        &__remove {
            top: 30px;
            width: 161px;
            padding: 15px;
            right: -30px;
            box-shadow: 0px 20px 40px #eeeeee;
        }
    }

}