// Needs to be improved
.location {
  margin: 32px 16px;

  &__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    .hr {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .main-row {
      display: none;
    }
    .row1 {
      display: contents;
      td {
        margin-bottom: 20px;
      }
      &__col-mobile {
        .main-col {
          display: none;
        }
        .arrow-control {
          display: flex;
          flex-direction: row;
          width: 90vw;
          .rightArrowImg1 {
            margin-left: auto;
          }
        }
      }
    }
    .row2 {
      display: flex;
      flex-direction: column;
      td {
        margin-bottom: 20px;
      }
      &__item {
        .position {
          font-style: italic;
        }
      }
      &__col-desk {
        display: none;
        .arrow-control {
          display: flex;
          flex-direction: row;
          .rightArrowImg1 {
            margin-left: auto;
          }
        }
      }
      &__col-last {
        display: none;
        flex-direction: row;
        .rightArrowImg2 {
          display: none;
        }
      }
      .main-col {
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  .location {
    margin: 32px 24px;
    &__table {
      .hr {
        margin-top: -5px;
        margin-bottom: 10px;
      }
      width: 100%;
      .main-row {
        display: none;
      }
      .row1 {
        display: contents;
      }
      .row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        td {
          margin-bottom: 0px;
        }
        &__item {
          .position {
            font-style: italic;
          }
        }
        &__col-desk {
          display: none;

          .arrow-control {
            display: flex;
            flex-direction: column;
            .rightArrowImg1 {
              display: none;
            }
          }
        }
        &__col-last {
          display: flex;
          flex-direction: row;
          .rightArrowImg2 {
            display: none;
          }
        }
        .main-col {
          display: contents;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .location {
    margin: 32px 180px;
    &__table {
      .hr {
        margin-top: -15px;
        margin-bottom: 20px;
      }
      .main-row {
        display: contents;
        margin-top: 48px;
        text-align: left;
      }
      .row1 {
        display: none;
      }
      .row2 {
        display: table-row;
        vertical-align: baseline;
        &__item {
          width: 287px;
          .position {
            font-style: italic;
          }
        }
        .arrow-control {
          .title {
            width: 287px;
          }
        }
        &__col-desk {
          display: contents;
          .rightArrowImg2 {
            display: contents;
          }
        }
        &__col-last {
          display: contents;
          flex-direction: column;
          .rightArrowImg2 {
            display: flex;
          }
        }
      }
    }
  }
}
