// Needs to be improved
.location {
  margin: 32px 16px;
  .row-level-main {
    display: none;
  }
  .location_table {
    width: 100%;
    .row-level {
      .row-level-row1 {
        .location-content {
          display: flex;
          flex-direction: row;
          width: 90vw;
          .title {
          }
          .rightArrowImg1 {
            margin-left: auto;
          }
        }
      }
      .row-level-container {
        .row-level-content {
          &__arrow {
            .rightArrowImg2 {
              // margin-left: 10vw;
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .location {
    margin: 32px 24px;
    .location_table {
      width: 100%;
      .row-level {
        .row-level-row1 {
          .location-content {
            display: flex;
            flex-direction: row;
            width: 92vw;
            .title {
            }
            .rightArrowImg1 {
              margin-left: auto;
            }
          }
        }
        .row-level-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .row-level-content {
            &__arrow {
              .rightArrowImg2 {
                // margin-left: 10vw;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .location {
    margin: 32px 180px;
    .row-level-main {
      display: contents;
      margin-top: 48px;
    }
    .location_table {
      width: 100%;
      .row-level {
        display: flex;
        flex-direction: row;
        .row-level-row1 {
          .location-content {
            display: flex;
            flex-direction: row;
            width: 230px;
            .title {
            }
            .rightArrowImg1 {
              display: none;
            }
          }
        }
        .row-level-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
          .row-level-content {
            &__arrow {
              display: flex;
              flex-direction: row;
              .rightArrowImg2 {
                margin-left: 10vw;
              }
            }
          }
        }
      }
    }
  }
}
