.background {
  background-color: $Alabaster;
  padding-top: 5vw;
  height: 100vh;
}


.warehouseName {
  margin: 0px 5vw 5vw 5vw;
  


  p {
    color: #323232;
    margin: 0px;
    font-size: 13px;
  }

  #space {
    margin-top: 24px;
  }

  h3 {
    color: #afafaf;
    margin: 24px 0px 12px 0px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    padding-top: 24px;

    img {
      padding-top: 4px;
      height: 24px;
    }

    h1 {
      margin-left: 16px;
    }
  }
}

@media screen and (min-width: 600px) {

  .background {
    padding-top: 3vw;
  }

  .warehouseName {
    margin: 0px 3vw 3vw 3vw;
    p {
      font-size: 12px;
    }

    &__title {
      padding: 32px 0px;
      border-bottom: 1px solid #e1e1e1;
      img {
        padding-top: 10px;
      }
    }

    &__detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 28vw;
    }
  }
}

@media screen and (min-width: 1440px) {

  .background {
    padding-top: 24px;
  }

  h3 {
    font-size: 12px;
  }

  .warehouseName {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    & > div {
      width: 1080px;
    }

    &__detail {
      width: 676px;
    }
  }
}
